/.vscode
/venv/
/taskmanager/.env
taskmanager/.env
taskmanager/__pycache__ 
tasks/__pycache__ 
projects/__pycache__ 
expences/__pycache__ 
expenses/__pycache__ 
incomes/__pycache__ 
users/__pycache__ 
users/migrations/__pycache__
users/migrations/__pycache__/*.pyc
tasks/migrations/__pycache__ 
tasks/migrations/__pycache__/*.pyc 
taskmanager/migrations/__pycache__ 
projects/migrations/__pycache__ 
projects/migrations/__pycache__/*.pyc
incomes/migrations/__pycache__ 
expenses/migrations/__pycache__ 
projects/api/__pycache__ 
tasks/api/__pycache__ 
expenses/api/__pycache__  
users/api/__pycache__ 
users/api/teams/__pycache__ 
common/custom_classes/__pycache__ 
projects/api/projects/__pycache__ 
users/api/teams/__pycache__
media
__pycache__/
 *.pyc

*/__pycache__
*/*/__pycache__
*/*/*/__pycache__
*/*/*/*/__pycache__
project_management_backend.zip
project_management_backend.zip
